
/*
.page_contact{background-color: #00FFA1; padding: 148px 60px 60px; position: relative; min-height: 100vh;
  .contact_inner{background-color: #fff; border-radius: 24px; padding:60px 0 80px;
    .contact_head{display: flex; align-items: flex-end; position: relative; padding: 0 calc(100% / 12) 32px; 
      h1{flex: 4; font-size: 96px; font-weight: 200; line-height: 1.1;}
      &>span{flex: 4; font-size: 15px; line-height: 1.5;}
      .mail_w{flex: 2; display: flex; justify-content: flex-end;
        .mail{ font-size: 15px; padding: 8px 12px; border-radius: 40px; border: 1px solid #000; display: flex; justify-content: center; align-items: center;}
      }
      &::after{position: absolute; bottom: 0; left: 0; height: 8px; background-color: #F6F6F3;}
    }
    .contact_body{ padding: 120px calc(100% / 12) 0;
      .flex{display: flex; gap: 80px; margin-bottom: 60px;
        label{flex: 1; position: relative;  font-size: 20px; color: #A0A096; transition: ease 0.3s color;
          span{position: absolute; top: 0; left: 0; transition: ease 0.3s all; pointer-events: none;}
          input{width: 100%;  outline: none; padding-bottom: 12px; color: #A0A096; transition: ease 0.3s border; border-bottom: 1px solid #A0A096; cursor: pointer;}
          input:focus, input:not(:placeholder-shown){border-bottom: 1px solid #000; color: #000;}
          input:focus + span, input:not(:placeholder-shown) + span{top: -28px; font-size: 12px; color: #000;}
          &.active{
            
          }


        } 
      } 
      .textarea_w{
        span{font-size: 20px;}
        .textarea_inner{ height: 320px; padding: 22px 8px 22px 32px; border: 1px solid #A0A096; border-radius: 16px; margin-top: 12px;
          textarea{width: 100%; background-color: unset; resize: none; height: 100%;   cursor: pointer; border: 0; outline: unset; font-size: 15px;}
          textarea::-webkit-scrollbar {    width: 2px;  }
          textarea::-webkit-scrollbar-thumb {   background: #A0A096;    border-radius: 2px;}
          textarea::-webkit-scrollbar-track {    background: rgba(255, 255, 255, 0);}
        }
      }

    }
    .contact_bottom{ padding: 30px calc(100% / 12) 0; 
      .contact_bottom_inner{width: 100%; display: flex; align-items: center; justify-content: space-between; position: relative;
        .file_w{padding: 8px 30px; border-radius: 8px; background-color: #F6F6F3;
          input{display: none;}
        }

        .file_list{}
        .failed{position: absolute; right: 240px; color: #FF0000;}
        .submit{padding: 12px 52px 9px; background-color: #00FFA1; border-radius: 8px;
          span{font-weight: 600; font-size: 24px; line-height: 1;}
          input{display: none;}
        }
      }
      
    }
  }
  
  
}*/
.page_contact{background-color: #00FFA1; padding: 146px 60px 84px; position: relative; min-height: 100vh;
  .footer {display: none;}
  .contact_inner{background-color: #fff; border-radius: 1.538vw; padding:3.846vw 0 5.128vw;
    .contact_head{display: flex; align-items: flex-end; position: relative; padding: 0 calc(100% / 12) 2.051vw; 
      h1{flex: 4; font-size: 6.154vw; font-weight: 200; line-height: 1.1;}
      &>span{flex: 4; font-size: 0.962vw; line-height: 1.5;}
      .mail_w{flex: 2; display: flex; justify-content: flex-end;
        .mail{ font-size: 0.962vw; padding: 0.513vw 0.769vw; border-radius: 2.564vw; border: 1px solid #000; display: flex; justify-content: center; align-items: center;}
      }
      &::after{position: absolute; bottom: 0; left: 0; height: 8px; background-color: #F6F6F3;}
    }
    .contact_body{ padding: 7.692vw calc(100% / 12) 0;
      .flex{display: flex; gap: 5.128vw; margin-bottom: 3.846vw;
        label{flex: 1; position: relative;  font-size: 1.282vw; color: #A0A096; transition: ease 0.3s color;
          span{position: absolute; top: 0; left: 0; transition: ease 0.3s all; pointer-events: none;}
          input{width: 100%;  outline: none; padding-bottom: 0.769vw; color: #000; transition: ease 0.3s border; /*border-bottom: 1px solid #A0A096;*/ cursor: pointer;}
          &:has(input:focus), &:has(input:not(:placeholder-shown)){
            input{color: #000;}
            &::after{background-color: #000;}
          }
          input:focus + span, input:not(:placeholder-shown) + span{top: -1.795vw; font-size: 0.769vw; color: #000;}
          &::after{content: ''; display: block; width: 0%; height: 1px; bottom: 0; left: 0; background-color: #A0A096; position: absolute; transition: ease 0.5s width, ease 0.5s background;}
          &.active::after{width: 100%;}

          &:not(.active){
            span{transform: translateY(10px); opacity: 0;}
          }
          span{transform: translateY(00px); opacity: 1; transition: ease 0.8s opacity, ease 0.8s transform, ease 0.3s top, ease 0.3s font-size;}
        } 
      } 
      .textarea_w{
        span{font-size: 1.282vw; display: block;}
        &:not(.active){
          span{transform: translateY(10px); opacity: 0;}
        }
        span{transform: translateY(00px); opacity: 1; transition: ease 0.8s opacity, ease 0.8s transform, ease 0.3s top, ease 0.3s font-size;}
        .textarea_inner{ height: 20.513vw; padding: 1.410vw 0.513vw 1.410vw 2.051vw; border: 1px solid #A0A096; border-radius: 1.026vw; margin-top: 0.769vw;
          textarea{width: 100%; background-color: unset; resize: none; height: 100%;   cursor: pointer; border: 0; outline: unset; font-size: 0.962vw;}
          textarea::-webkit-scrollbar { width: 0.128vw; }
          textarea::-webkit-scrollbar-thumb { background: #A0A096; border-radius: 0.128vw;}
          textarea::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0);}
        }
      }
    }
    .contact_bottom{ padding: 1.923vw calc(100% / 12) 0; 
      .contact_bottom_inner{width: 100%; display: flex; align-items: flex-start; justify-content: flex-start; position: relative; gap: 20px;
        .file_w{padding: 0.513vw 1.923vw; border-radius: 0.513vw; background-color: #F6F6F3; cursor: pointer; margin-top: 0.513vw;
          input{display: none;}
        }

        .file_list{display: flex; flex-direction: column; gap: 12px;
          li{display: flex; align-items: center; font-size: 15px; gap: 12px;
            &:first-child{padding-top: 0.833vw;}
            img{width: 18px; cursor: pointer;}
            span{max-width: 200px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
          }
        }
        .failed{position: absolute; right: 15.385vw; color: #FF0000; display: none; top: 0.6vw;
          &.active{display: block;}
        }
        .submit{/*padding: 0.769vw 3.333vw 0.577vw; background-color: #00FFA1; border-radius: 0.513vw;*/ cursor: pointer; position: absolute; right: 0; top: 0;
          span{font-weight: 600; font-size: 1.538vw; line-height: 1;}
          input{display: none;}
        }
      }
    }
  }
}

/*
@media(max-width:1024px){
  .page_contact{padding: 92px 20px 26px;
    .contact_inner{border-radius: 16px; padding:40px 0 94px;
      .contact_head{flex-direction: column; align-items: flex-start;
        h1{font-size: 40px;}
        span{font-size: 11px; margin: 20px 0 40px; display: block;}
        .mail_w{
          .mail{font-size: 11px; padding: 7px 12px 9px; line-height: 1;}
        }
      }
      .contact_body{ padding: 80px 20px 0;
        .flex{flex-direction: column; gap: 28px; margin-bottom: 28px;
          label{font-size: 14px;
            span{}
            input{}
            input:focus, input:not(:placeholder-shown){}
            input:focus + span, input:not(:placeholder-shown) + span{top: -14px; font-size: 8px;}
          } 
        }
        .textarea_w{
          span{font-size: 14px;}
          .textarea_inner{ height: 320px; padding: 16px 8px 16px 16px; border: 1px solid #A0A096; border-radius: 16px; margin-top: 12px;
            textarea{font-size: 11px;}
            textarea::-webkit-scrollbar {    width: 2px;  }
          }
        }
      }
      .contact_bottom{padding: 16px 20px 0;
        .contact_bottom_inner{
          .file_w{padding: 6px 16px; border-radius: 8px; font-size: 11px;}
          .submit{padding: 12px 22px 12px; border-radius: 8px; line-height: 1;
            span{font-size: 16px; }
          }
          .failed{top: 56px; font-size: 11px; right: 0;}
        }
        
      }
    }
  }
}
*/
@media(max-width:1024px){
  .page_contact{padding: 25.556vw 20px 7.222vw;
    .contact_inner{border-radius: 4.444vw; padding:11.111vw 0 26.111vw;
      .contact_head{flex-direction: column; align-items: flex-start; padding: 0 20px 9.56vw;
        h1{font-size: 11.111vw;}
        span{font-size: 3.056vw; margin: 5.556vw 0 11.111vw; display: block;}
        .mail_w{
          .mail{font-size: 3.056vw; padding: 1.944vw 3.333vw 2.5vw; line-height: 1;}
        }
        &::after{height: 8px;;}
      }
      .contact_body{ padding: 22.222vw 20px 0;
        .flex{flex-direction: column; gap: 7.778vw; margin-bottom: 7.778vw;
          label{font-size: 3.889vw;
            span{}
            input{}
            input:focus, input:not(:placeholder-shown){}
            input:focus + span, input:not(:placeholder-shown) + span{top: -3.889vw; font-size: 2.222vw;}
          } 
        }
        .textarea_w{
          span{font-size: 3.889vw;}
          .textarea_inner{ height: 88.889vw; padding: 4.444vw 2.222vw 4.444vw 4.444vw; border: 1px solid #A0A096; border-radius: 4.444vw; margin-top: 3.333vw;
            textarea{font-size: 3.056vw;}
            textarea::-webkit-scrollbar { width: 0.556vw; }
          }
        }
      }
      .contact_bottom{padding: 4.444vw 5.556vw 0;
        .contact_bottom_inner{flex-direction: column; gap: 6.1vw;
          .file_w{padding: 1.4vw 4.444vw; border-radius: 2.222vw; font-size: 3.056vw; margin-top: 1.667vw;}

          .file_list{gap: 2.222vw;
            li{font-size: 3.056vw; gap: 1.111vw;
              &:first-child{padding-top: 0;}
              span{max-width: calc(50vw - 22.222vw);}
            }
          }
          .submit{padding: 0; border-radius: 2.222vw; line-height: 1; width: 50%; height: unset; aspect-ratio: 250 / 70;
            span{font-size: 4.444vw;}
            button{width: 100%; height: 100%;}
            svg{height: 100%;}
          }
          .failed{top: 15.556vw; font-size: 3.056vw; right: 0;}
        }
      }
    }
  }
}



.contact_bottom_inner{
  .submit.progress-button{position:relative; display:inline-block; width:250px; height:70px; cursor:pointer;}
  .submit.progress-button input{display:none;}

  .submit.progress-button > button{display:block; width:250px; height:70px; padding:0; margin:0 auto; border:2px solid #1ECD97; border-radius:40px; background:transparent; color:#1ECD97; font-size:18px; letter-spacing:1px; transition:background-color .3s, color .3s, width .3s, border-width .3s, border-color .3s;}
  .submit.progress-button > button span{transition:opacity .2s .1s;}

  .submit.progress-button svg{position:absolute; top:0; left:50%; transform:translateX(-50%); pointer-events:none;}
  .submit.progress-button svg path,
  .submit.progress-button svg circle{fill:none; opacity:0;}

  .submit.progress-button .progress-circle circle{stroke:#1ECD97; stroke-width:5; transform:rotate(-90deg); transform-origin:50% 50%; transition:stroke-dashoffset .25s linear, opacity .2s;}
  .submit.progress-button .checkmark path,
  .submit.progress-button .cross path{stroke:#fff; stroke-width:4; stroke-linecap:round; stroke-linejoin:round; stroke-dasharray:100; stroke-dashoffset:100; transition:stroke-dashoffset .3s ease, opacity .2s;}

  .submit.progress-button.loading > button{width:70px; border-width:5px; border-color:#ddd; background-color:transparent; color:transparent;}
  .submit.progress-button.loading > button span,
  .submit.progress-button.success > button span,
  .submit.progress-button.error > button span{opacity:0;}

  .submit.progress-button.loading .progress-circle circle{opacity:1;}

  .submit.progress-button.success > button{width:70px; border-width:5px; border-color:#1ECD97; background:#1ECD97;}
  .submit.progress-button.success .checkmark path{opacity:1; stroke-dashoffset:0;}

  .submit.progress-button.error > button{width:70px; border-width:5px; border-color:#FB797E; background:#FB797E;}
  .submit.progress-button.error .cross path{opacity:1; stroke-dashoffset:0;}
}