@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /*--foreground: #ededed;*/
  }
}

body{
 -ms-overflow-style: none;
 }
/*::-webkit-scrollbar {
  display: none;
}*/
body {
  /*background: var(--background);*/
  background-color: #f6f6f3;
  color: var(--foreground);
  font-family: 'Barlow', 'Pretendard', sans-serif;
}
[data-transition="wrapper"] { position: relative; min-height: 100vh; }
[data-transition="container"] { width: 100%; }
[data-transition="wrapper"] {
  position: relative;
  /*overflow: hidden;*/
}
:root {
  --white-10: rgba(255, 255, 255, 0.1);
}
header{z-index: 99; position: fixed; top: 0; left: 0; width: 100%; font-family: 'Barlow'; padding: 52px 60px 0;
  & > a{background-color: var(--white-10); backdrop-filter: blur(40px); transition: ease 0.3s all;  padding: 14px 16px; position: relative; width: 184px; height: 56px;
    img{transition: ease 0.5s opacity; width: 150px; position: absolute;
      &.icon_dark{opacity: 0;}
    }
  }
  &.no-filter{
    & > a{
      img{opacity: 0;
        &.icon_dark{opacity: 1;}
      }
    }
  }
  & > nav{transition: ease 0.3s all; position: relative;
    &::before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height:100%; z-index: -1; background-color: var(--white-10); backdrop-filter: blur(40px); border-radius: 8px;}
    ul{height: 100%;
      li{display: flex; align-items: center; justify-content: center; height: 100%; position: relative;
        & > span{cursor: default;}
        & > a, & > span{position: relative; display: flex; align-items: center;
          &::after{content: ''; position: absolute; left: -16px; width: 5px; height: 5px; background-color: #00FFA1; transition: ease 0.3s all; opacity: 0;}
          &:hover::after{opacity: 1;}
        }
        .depth_2{position: absolute; display:none; flex-direction: column; gap: 6px; padding: 20px 40px; border-radius: 8px; left:50%; transform:translateX(-50%); background-color:var(--white-10); top: calc(100% + 8px);backdrop-filter: blur(40px);
          a{position: relative; padding-bottom: 2px;
            &::after{content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: #000; transition: ease 0.3s all;}
            &:hover::after{width: 100%;}
          }
          &::before{content: ''; position: absolute; top: -10px; left: 50%; transform: translateX(-50%); width: 100%; height: 40px; z-index: -1;}
        }
        &:hover .depth_2{/*display: flex;*/}
        &:hover > a::after, &:hover > span::after{opacity: 1;}
      }
    }
    
  }
  li{
    & > a{color: #fff; transition: ease 0.3s all;}
  }
  &.no-filter{
    & > a{/*background-color: #fff;*/
      /*img{filter: invert(1);}**/
    }
    & > nav{/*background-color: #fff;*/
      li {position: relative;
        *{color: #000;}
        
      }
    }
    
  }
  
}

.footer{padding: 20px 20px 20px; background-color: #131313;
  .inner{width: 100%; background-color: #00FFA1; border-radius: 1.538vw; padding: 0 40px 180px; display: flex; position: relative;
    ul{font-size: 48px; display: flex; flex-direction: column; gap: 8px; padding-top: 47px;}
    .info_w{padding-top: 70px; position: absolute; left: calc((100% / 12) * 4);
      h4{font-size: 15px; font-weight: 600;}
      .email{font-size: 48px; line-height: 1.2; margin-bottom: 80px; display: block;}
      .info_el{display: flex; gap: 12px; flex-direction: column;
        &:last-child{margin-top: 40px;}
      }
    }
    .icon_w{position: absolute; top: 70px; right: 38px; display: flex; gap: 20px; 
      img{height: 48px;}
    }
  }
  .copyright{padding-right: 20px; text-align: right; font-size: 15px; color: #fff; display: block; padding-top: 8px;}
}

.float-el{position: absolute; top: 0; height: 100vh;
  &.floating{position: fixed; top: 0; }
  &.float-bottom{position: absolute; top: unset; bottom: 0;}
}

.dot_icon_w{position: relative; display: flex; align-items: center; gap: 0.256vw; text-transform: uppercase;
  div{width: 2.4vw; height: 2.4vw; border-radius: 0.513vw; background-color: #f6f6f3; position: relative;}
  div::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0.256vw; height: 0.256vw; background-color: #00FFA1;}
  span{padding: 0.4vw 0.769vw 0.46vw; border-radius: 0.513vw; background-color: #f6f6f3; display: flex; align-items: center; justify-content: center; font-family: 'Barlow'; font-weight: 300; height: 2.4vw; font-size: 0.897vw;}

  &.white{
    div{background-color: #fff;}
    span{background-color: #fff;}
  }
}
.ani.hide{opacity: 0; transition: ease 0.5s opacity;
  &.active{opacity: 1;}
}

.ani .hide{opacity: 0; transition: ease 0.5s opacity;}
.ani.active .hide{opacity: 1;}
.quote{opacity: 0;
  &.active{opacity: 1;}
  &:not(.active){transition: ease 0.3s opacity;}
}
.sym_w{overflow: hidden;
  img{width: 100%; height: 100%; object-fit: cover;}
}

.bar{position: relative;
  &::after{content: ''; display: block; width: 0; height: 1px; transition: ease 0.8s all;}
  &.active::after{width: 100%;}
}
@media (min-width: 1025px) {
  .mob{display: none!important;}
}
@media (max-width: 1024px) {
  .pc{display: none!important;}
  header{padding: 24px 20px 0;
    & > a{padding: 14px 12px; width: 131px; z-index: 101; backdrop-filter: unset; background-color: #fff;
      div{width: unset; 
        img {width: 107px; filter: invert(1);}
      }
      
    }
    nav{display: none;}
    .mob_nav{position: relative; z-index: 100;
      .mob_nav_btn{width: 48px; height: 48px; background-color: rgba(255,255,255,0.5); border-radius: 12px; padding: 4px; cursor: pointer; position: relative; z-index: 1;
        .inner{background-color: #fff; border-radius: 12px; width: 100%; height: 100%; position: relative;
          &::before, &::after{content: ''; position: absolute; left: 50%; width: 20px; height: 2px; background-color: #000;}
          &::before{transform: translate(-50%, -0) rotate(0deg); top: 15px;}
          &::after{transform: translate(-50%, -0%) rotate(-0deg); bottom: 15px;}
        }        
      }

      .mob_menu_w{background-color: #00ffa1; clip-path: inset(0 100% 0 0); transition: clip-path 0.5s ease; position: fixed; left: 0; top: 0; width: 100%;  height: 100vh;
        &::before{content: ''; width: 100%; height: 100%;background: #00ffa1; position: absolute; left: 0; top: 0; }
        ul{padding: 160px 0 0 48px; display: flex; flex-direction: column; gap: 20px;
          li{ overflow: hidden;
            a{color: #000; font-size: 36px; padding: 0; text-transform: capitalize; transform: translateY(110%); transition: ease 0.6s all; display: block;}
            @for $i from 1 through 10 {
              &:nth-child(#{$i}) a {
                transition-delay: #{$i * 0.08}s;
              }
            }
          }
          
        }
      }
      .icon_w{position: absolute; display: flex; align-items: center; gap: 12px; left: 46px; bottom: 32px;
        a{overflow: hidden;
          img{width: 32px; height: 32px; transition: ease 0.5s transform; transform: translateY(110%); transition-delay: 0.5s;}
        }
      }
      &.active{
        .inner{background-color: #fff; border-radius: 12px; width: 100%; height: 100%; position: relative;
          &::before, &::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%; height: 2px; background-color: #000;}
          &::before{transform: translate(-50%, -50%) rotate(45deg);}
          &::after{transform: translate(-50%, -50%) rotate(-45deg);}
        }
        .mob_menu_w{clip-path: inset(0 0 0 0);
          &::before{ }
          ul{
            li{
              a{transform: translateY(0);}
            }
          }
        }

        .icon_w{
          a{
            img{transform: translateY(0);}
          }
        }
      }
    }    
  }

  .dot_icon_w{gap: 1.111vw;
    div{width: 5.556vw; height:5.556vw; border-radius:1.111vw;}
    div::after{width: 1.111vw; height: 1.111vw;}
    span{padding: 1.111vw 1.944vw 1.111vw; border-radius: 1.111vw; height: 5.556vw; font-size: 2.222vw;}
  }
  
  .footer{padding: 24px 8px;
    .inner{flex-direction: column; padding: 5.556vw 5.556vw 16.667vw;
      ul{font-size: 6.667vw; padding-top: 0;}
      .info_w{position: unset; padding-top: 22.222vw;
        h4{font-size: 3.056vw;}
        .email{font-size: 6.667vw; margin-bottom: 5.556vw;}
        .info_el{font-size: 3.056vw; gap: 1.111vw;
          &:last-child{margin-top: 5.556vw;}
        }
      }
      .icon_w{top: 5.556vw; right: 3.333vw; gap: 3.333vw;
        img{width: 8.889vw; height: 8.889vw;}
      }
    }
    .copyright{font-size: 3.056vw; padding-top: 3.333vw; padding-right: 3.333vw;}
  }
}

[data-layer="old"] {
  opacity: 0.8!important;
  z-index: 3;
}

.page-content{opacity:1; transition:opacity .4s ease; transition-delay: 0.0s;}
.page-leave .page-content{opacity:0;}
body:not(.page-leave) .page-content{opacity: 1;}
/*.page-content.page-enter{opacity: 0;}*/
.page-leave, .page-enter{pointer-events: none;}
.loading_w {
  display: flex;
  background-color: #254416;
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  will-change: opacity, clip-path;
  align-items: center;
  justify-content: center;
}
.loading_w.loading-now {
  display: flex;
  opacity: 1;
}
.loading-logo { will-change: transform; width: 150px; height: 50px; opacity: 0;
 img{filter: invert(0); opacity: 0; width: 100%; height: 100%; opacity: 1;}
}