@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Barlow', 'Pretendard', sans-serif;
}
header{z-index: 99; position: fixed; top: 0; left: 0; width: 100%; font-family: 'Barlow'; padding: 52px 60px 0;
  & > a{background-color: rgba(255,255,255,0.1); backdrop-filter: blur(40px); transition: ease 0.3s all;  padding: 14px 16px; height: unset;
    img{filter: invert(0); transition: ease 0.5s filter; width: 184px;}
  }
  & > nav{background-color: rgba(255,255,255,0.1); backdrop-filter: blur(40px);transition: ease 0.3s all;}
  li > a{color: #fff; transition: ease 0.3s all;}
  &.no-filter{
    & > a{background-color: #fff;
      img{filter: invert(1);}
    }
    & > nav{background-color: #fff;}
    li > a{color: #000;}
  }
}

.footer{padding: 20px 20px 20px; background-color: #131313;
  .inner{width: 100%; background-color: #00FFA1; border-radius: 1.538vw; padding: 0 40px 180px; display: flex; position: relative;
    ul{font-size: 48px; display: flex; flex-direction: column; gap: 8px; padding-top: 47px;}
    .info_w{padding-top: 70px; position: absolute; left: calc((100% / 12) * 4);
      h4{font-size: 15px; font-weight: 600;}
      .email{font-size: 48px; line-height: 1.2; margin-bottom: 80px; display: block;}
      .info_el{display: flex; gap: 12px; flex-direction: column;
        &:last-child{margin-top: 40px;}
      }
    }
    .icon_w{position: absolute; top: 70px; right: 38px; display: flex; gap: 20px; 
      img{height: 48px;}
    }
  }
  .copyright{padding-right: 20px; text-align: right; font-size: 15px; color: #fff; display: block; padding-top: 8px;}
}

.float-el{position: absolute; top: 0; height: 100vh;
  &.floating{position: fixed; top: 0; }
  &.float-bottom{position: absolute; top: unset; bottom: 0;}
}

.dot_icon_w{position: relative; display: flex; align-items: center; gap: 0.256vw; text-transform: uppercase;
  div{width: 2.64vw; height: 2.64vw; border-radius: 0.513vw; background-color: #f6f6f3; position: relative;}
  div::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0.256vw; height: 0.256vw; background-color: #00FFA1;}
  span{padding: 0.449vw 0.769vw; border-radius: 0.513vw; background-color: #f6f6f3; display: flex; align-items: center; justify-content: center; font-family: 'Barlow'; font-weight: 300; height: 2.64vw;}

  &.white{
    div{background-color: #fff;}
    span{background-color: #fff;}
  }
}

.sym_w{overflow: hidden;
  img{width: 100%; height: 100%; object-fit: cover;}
}


@media (min-width: 1025px) {
  .mob{display: none!important;}
}
@media (max-width: 1024px) {
  .pc{display: none!important;}
  header{padding: 24px 20px 0;
    & > a{padding: 14px 12px; width: 131px;
      div{width: unset; 
        img {width: 107px;}
      }
      
    }
    nav{display: none;}
  }

  .dot_icon_w{gap: 1.111vw;
    div{width: 5.556vw; height:5.556vw; border-radius:1.111vw;}
    div::after{width: 1.111vw; height: 1.111vw;}
    span{padding: 1.111vw 1.944vw 1.111vw; border-radius: 1.111vw; height: 5.556vw; font-size: 2.222vw;}
  }
  
  .footer{
    .inner{flex-direction: column; padding: 5.556vw 5.556vw 16.667vw;
      ul{font-size: 6.667vw; padding-top: 0;}
      .info_w{position: unset; padding-top: 22.222vw;
        h4{font-size: 3.056vw;}
        .email{font-size: 6.667vw; margin-bottom: 5.556vw;}
        .info_el{font-size: 3.056vw; gap: 1.111vw;
          &:last-child{margin-top: 5.556vw;}
        }
      }
      .icon_w{top: 5.556vw; right: 3.333vw; gap: 3.333vw;
        img{width: 8.889vw; height: 8.889vw;}
      }
    }
    .copyright{font-size: 3.056vw; padding-top: 3.333vw; padding-right: 3.333vw;}
  }
}