.page_main {background-color: #F6F6F3;

.main_sec_1{
  height: 300vh;
  position: relative;

  .main_1_txt_1{position: relative; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100vh; z-index: 1; overflow: hidden; white-space: nowrap; clip-path: inset(00% 00%);
    h1{font-size: 96px; font-weight: 300; line-height: 1.1; color: #fff; position: absolute; top: 50%; transform: translateY(-50%); left: 40px;}
    .main_1_txt_1_b{position: absolute; bottom: 60px; left: 40px; right: 40px; border-top: 1px solid #fff;display: flex; align-items: center; justify-content: flex-start; padding-top: 24px; color: #fff; gap: 24px; font-size: 15px; line-height: 1.5; width: calc(100vw - 80px);}
    .main_1_txt_1_b img:first-child{width: 64px; height: 64px;}
    .main_1_txt_1_b img:last-child{width: 40px; height: 68px; position: absolute; right: 0; top: 28px;}
  }

  .main_1_txt_2{position: relative; top: 0; left: 0; height: 100vh; z-index: 2; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;
    h1{font-size: 48px; line-height: 1.2; font-weight: 400; margin-bottom: 40px;}
    p{font-size: 15px; line-height: 1.5;}
  }

  .intro_img{width: 100%; height: 100vh; object-fit: cover; position: fixed; left: 50%; top: 50vh; transform: translate(-50%, -50%); border-radius: 24px;}
}

.main_1_img_s{position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 5;
  .m1s_1{position: absolute; top: 40%; transform: translateY(-50%); left: 60px; width: calc((100% / 12) * 3); height: auto; gap: 40px; display: flex; flex-direction: column; align-items: flex-end;
    img:nth-child(1){width: 100%;}
    img:nth-child(2){width: 55%;}
  }
  .m1s_2{position: absolute; top: 60%; transform: translateY(-50%); right: 60px; width: calc((100% / 12) * 3); height: auto; gap: 40px; display: flex; flex-direction: column; align-items: flex-start;
    img:nth-child(2){width: 100%;}
    img:nth-child(1){width: 55%;}
  }
}
.main_1_img_s{position:fixed; top:0; left:0; width:100%; height:100vh; z-index:5;}
.main_1_img_s.abs_mode{position:absolute; left:0;}

}
